.item {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	flex: 1;
	margin-right: 20px;
	margin-bottom: 20px;
}

.item .video_time {
	color: #ffffff;
}

.item .info {
	display: flex;
}

.item .info .channelPic {
	width: 36px !important;
	height: 36px !important;
	border-radius: 50%;
	margin-right: 10px;
}

.item .thumbnail {
	position: relative;
	margin-bottom: 10px;
}

.item .thumbnail img {
	/* min-width: 360px; */
	min-width: 320px;
	width: 100%;
}

.item .thumbnail .info {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 2px 4px;
	border-radius: 2px;
	letter-spacing: 0.5px;
	font-weight: 500;
	font-weight: bold;
	right: 10px;
	bottom: 20px;
	font-size: 1.2rem;
}

.title {
	font-weight: 500;
	font-size: 1.6rem;
}

.item .info .details {
	color: #aaa;
	font-size: 1.4rem;
}

.item .thumbnail .info .right {
	flex: 10;
}