.sidebar {
	width: 12.5%;
	padding: 12px 0;
	height: auto;

	position: fixed;
    overflow-y: scroll;
    top: 56px;
	bottom: 0;
	
	background: var(--aside-navbar-background);

}

.sidebarToggle {
	width: auto;
}

.toggleMenu {
	display: flex;
	flex-direction: column;
	align-self: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	& .itemText {
		font-size: 1rem !important;
		line-height: 1.4rem;
	}
}

.item {
	width: 100%;
	padding: 8px 24px;
	display: flex;
	align-items: center;
	color: #fff;
	& > svg {
		color: var(--aside-inactive-text-color);
	}
}

.item.toggle {
	color: var(--aside-inactive-text-color);
	/* padding: 16px 12px 16px 12px; */
	padding: 8px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.item.active, .item:not(.toggle):hover {
	color: #fff;
	padding: 8px 24px;
	background: var(--aside-active-background);
}

.item.toggle.active {
	background-color: transparent;
}
.item:hover {
	color: #fff;
	background: var(--aside-active-background);
}

.item.active > svg {
	color: #fff;
}

/* .item:not(.sidebar.toggle) svg { */
.item svg {
	margin-right: 24px;
}

.sidebarToggle .item svg {
	margin-right: 0;
}

.itemText {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
}
